@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$font-primary: 'Roboto';
$font-secondary: 'Oswald';

$color-1: #f3f3f3;
$color-2: #333333;
$color-3: #49a030;
$color-4: #1c6b06;
$color-5: #fafafa;

html, body { 
    margin: 0; 
    padding: 0;
    border-top: 5px solid $color-3;
    box-sizing: border-box;
}

/* Titles */
.title-headline {
    font: {
        family: $font-secondary;
        weight: 500;
        size: 2.2em;
    }
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $color-2;
}

.title-headline span {
    font-weight: 600;
    color: $color-3;
}

.title-module-course {
    font: {
        family: $font-primary;
        size: 1.2em;
        weight: 700;
    }
    text-transform: uppercase;
    color: $color-3;
}

.title-section-1 {
    font: {
        family: $font-secondary;
        weight: 400;
        size: 2em;
    }
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $color-1;
}

.title-section-2 {
    font: {
        family: $font-secondary;
        weight: 300;
        size: 2em;
    }
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title-section-2 span {
    font-weight: 500;
    color: $color-3;
}

.title-bonus {
    font: {
        family: $font-secondary;
        weight: 400;
        size: 1.5em;
    }
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $color-1;
}

@media(max-width: 991px) {
    .title-bonus {
        text-align: center;
        margin-top: 30px;
    }
}

.title-warranty {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1.2em;
    }
    color: $color-2;
}

.title-warranty span {
    font-weight: 600;
    color: $color-3;
}

.title-question {
    font: {
        family: $font-primary;
        weight: 600;
        size: 1.1em;
    }
    color: $color-2;
}

.title-question:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Subtitles */
.subtitle-headline {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1.1em;
    }
    color: $color-2;
}

/* Buttons */
.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-1 {
    font: {
        family: $font-primary;
        weight: 600;
        size: 1.3em;
    }
    text-transform: uppercase;
    color: $color-1;
    background-color: $color-3;
    box-shadow: 1px 8px $color-4;
    padding: 10px 30px;
    border-radius: 3em;
    transition: 0.4s;
}

.btn-1:hover,
.btn-1:focus {
    color: $color-1;
    background-color: $color-4;
}

.payment-options {
    text-align: center;
}

.payment-image {
    cursor: pointer;
    padding: 15px;
}

/* Image Background */
.image-background {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Headline */
.headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clockdiv {
    font: {
        family: $font-primary;
        size: 1.2em;
        weight: 500;
    }
    text-align: center;
    text-transform: uppercase;
    color: $color-1;
    display: inline-block;
    margin-bottom: 25px;
}

#clockdiv > div {
    display: inline-block;
    padding: 3px;
}

#clockdiv div > span {
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
    background: $color-3;
}

#clockdiv .smalltext {
    font: {
        weight: 400;
        size: 0.7em;
    }
    color: $color-2;
}

.video-player-mobile {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
  
.video-player-mobile iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
}
  
.video-player-desktop {
    display: none;
}

@media(min-width: 992px) {
    .video-player-mobile {
        display: none;
    }
    .video-player-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.price-headline {
    font: {
        family: $font-primary;
        weight: 500;
        size: 1em;
    }
    color: $color-2;
}
  
.price-headline span {
    font: {
        family: $font-primary;
        weight: 600;
        size: 1em;
    }
    color: $color-3;
}

/* About Producer */
.description-producer {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1em;
    }
    color: $color-1;
}

/* About Course */
.row-modules {
    margin-top: 30px;
}

.card-module-course {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
    padding: 30px;
}

@media(max-width: 991px) {
    .row-modules {
        margin-top: 0;
    }
    .card-module-course {
        margin-bottom: 20px;
    }
}

.icon-modules-course {
    width: 85px;
    max-width: 100%;
    border: none;
}

.description-module-course {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1em;
    }
    color: $color-2;
    margin: 0;
}

/* Student Results */
.image-flower img {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
    transition: 0.3s;
}

.image-flower img:hover,
.image-flower img:focus {
    transform: scale(1.1);
}

@media(max-width: 767px) {
    .image-flower img {
        margin-top: 30px;
    }
}

/* Depositions */
.owl-depositions .owl-dots {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.owl-depositions .owl-dots .owl-dot.active span {
    background-color: $color-3 !important;
    border: 1px solid $color-3 !important;
    transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    width: 18px !important;
}

.owl-depositions .owl-dots .owl-dot span {
    background-color: transparent !important;
    border: 1px solid $color-3 !important;
}

/* Bonus */
.bonus-content-wrapper {
    display: flex;
    justify-content: center;
}

.image-bonus img {
    width: 100%;
    height: 350px;
}

.description-bonus {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1em;
    }
    color: $color-1;
}

@media(max-width: 991px) {
    .bonus-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-bonus img {
        width: 100%;
        height: 492px;
    }

    .description-bonus {
        text-align: center;
    }
}

.separator {
    width: 100%;
    height: .5px;
    background-color: $color-1;
    margin-top: 35px;
}

/* Warranty */
.warranty {
    background: $color-5;
}

.image-warranty {
    display: flex;
    justify-content: center;
}

.description-warranty {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1em;
    }
    color: $color-2;
}

/* F.A.Q */
.question-item-wrapper {
    display: flex;
    flex-direction: column;
}

.question-content-head {
    width: 100%;
    display: flex;
    align-items: center;
}

.question-content-head i {
    font-size: 1.5em;
    color: $color-3;
    margin-right: 15px;
}

.answer-question {
    font: {
        family: $font-primary;
        weight: 400;
        size: 1em;
    }
    color: $color-2;
    margin-left: 35px;;
}

.answer-question a {
    font-weight: 500;
    color: $color-3;
    text-decoration: underline;
}

.description-cta {
    font: {
        family: $font-primary;
        weight: 500;
        size: 1em;
    }
    color: $color-2;
}

/* WhatsApp */
.whatsapp {
    background: $color-5;
}

.image-button-whatsapp-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button-whatsapp img {
    width: 400px;
    margin-top: 25px;
}
